extends ../layouts/common
block content
  .container  
    h1 Add books
    form(action="/books",method="POST")
      form-group
        label(for="title") Title
        input#title.form-control(name ="title")
      form-group
        label(for="description") Description
        input#description.form-control(name ="description") 
  
      button.btn.btn-primary.mt-2 Submit