extends ../layouts/common
block content
  .container
    h1 Books list
    a.btn.btn-primary(href="/books/create") Add book
    table.table
      theat
        tr
          th Name
          th Delete
          th Rename  
      each book in books
        tbody
          tr
            td= book.title
            td
              a.btn.btn-danger(href="books/" + book.id) Delete
            td
              a.btn.btn-secondary(href="books/"+book.id +"/rename") Rename
          
  