extends ../layouts/common
block content
  .container  
    h1 Add books
    form(method="POST")
      form-group
        label(for="title") Title
        input#title.form-control(name ="title")

      button.btn.btn-primary.mt-2 Submit