extends ./layouts/common
block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/') Nam's Books
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNavAltMarkup
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/books') Books
        li.nav-item
          a.nav-link(href='/users') Users
        if user
          li.nav-item
            a.nav-link(href='/transactions') Transactions
  

    