h1 Manage users
button
  a(href="/users/create") Create user
span &nbsp;
p User list

each user in users
  li
    span= user.name
    span &nbsp
    button
      a(href="users/"+user.id) Delete
    span &nbsp
    button
      a(href="users/rename") Rename User  
      

  