h1 Manage users
button
  a(href="/users/create") Create user
span &nbsp;
p User list

each user in users
  li
    span= user.name
    span &nbsp
    button(type=)
    span &nbsp
    button
      a(href="#") Rename User  
      

  