extends ../layouts/common
block content
  .container
    h1 Create User
    if errors
      each err in errors
        .alert.alert-danger= err
        
    form(method="POST")
        form-group
          label(for="name") User Name
          input#title.form-control(name ="name")
  
        button.btn.btn-primary.mt-2 Add    
      
    