extends ../layouts/common
block content
  .container
    h1 Manage users
    a.btn.btn-primary(href="/users/create") Create User
    table.table
      theat
        tr
          th Name
          th Delete
          th Rename  
      each user in users
        tbody
          tr
            td= user.name
            td
              a.btn.btn-danger(href="users/" + user.id) Delete
            td
              a.btn.btn-secondary(href="users/"+user.id +"/rename") Rename
          
      