

extends ../layouts/common
block content
  .container
    h1 Manage users
    a.btn.btn-primary(href="/users/create") Create User
    table.table
      theat
        tr
          th Avatar
          th Name
          th Delete
          th Update  
      each user in users
        tbody
          tr
            td
              img(src= user.avatarUrl style='width: 90px; height: 90px; border-radius: 50%;')
            td= user.name
            td
              a.btn.btn-danger(href="users/" + user.id) Delete
            td
              a.btn.btn-secondary(href="users/"+user.id +"/rename") Update
          
      