extends ../layouts/common
block content
  .container  
    h1 Rename User
    form(action="/users/" + userId + "/rename",method="POST")
      form-group
        label(for="name") Name
        input#title.form-control(name ="name")

      button.btn.btn-primary.mt-2 Submit

