extends ../layouts/common
block content
  .container
    h1 Create Transactions
    form(method = "POST")
      form-group
        label( for = "users") Choose user:
        select.form-control(id = "users", name ="userId")
          each user in users
            option(value = `${user.id}`)
              span= user.name

        label( for = "books") Choose Book:
        select.form-control(id = "books", name ="bookId")
          each book in books
            option(value = `${book.id}`)
              span= book.title

      button.btn.btn-primary.mt-2 Create


 
  
      
    