h1 Create Transactions

form( method= "POST")
  label( for = "users") Choose user:
  select(id = "users", name ="userId")
    each user in users
      option(value = `${user.id}`)
        span= user.name
  br
  label( for = "books") Choose book:
  select(id = "books", name ="bookId")
    each book in books
      option(value = `${book.id}`)
        span= book.title
  br
  button Create
 
  
      
    