extends ../layouts/common
block content
  .container
    h1 Transactions
    h2 Transactions's list:
    a.btn.btn-primary(href="transactions/create") Create
    table.table
      theat
        tr
          th User
          th Book
          th Conplete
          th Finish  
      each object in transactions
        tbody
          tr
            td= object.userId
            td= object.bookId
            td
              a.btn.btn-success(href="transactions/"+ object.id + "/isComplete") Finish
            td= object.isComplete
  