h1 Transactions
button
  a(href="transactions/create") Create
p Transactions's list:
ul  
  each object in transactions
    li
     span= `User: ${object.userId} - Book: ${object.bookId}`
     span &nbsp
     button
       a(href="/transactions/"+object.id) Finish
